* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.home-img {
  max-width: 100%;
  margin-top: 40px;
  border-radius: 5px;
}

.container {
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mothers-day-flower-bouquet-1588610191.jpg?crop=1.00xw:0.892xh;0,0.108xh&resize=1200:*');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
}

header {
  padding: 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -60px;
}

header h1 {
  font-family: 'Fleur De Leah', cursive;
  font-size: 40px;
}

header ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

header a {
  margin-left: 20px;
  text-decoration: none;
  margin-right: 10px;
  color: #000;
  font-family: 'Fleur De Leah', cursive;
  font-size: 25px;
  transition: all 500ms ease-in-out;
}

header a:hover {
  color: rgb(253, 45, 201);
}

/* Icons */
.icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  list-style-type: none;
  background: #000;
}

.icons ul li a {
  margin-right: 27px;
  font-size: 25px;
  color: #fff;
  transition: all 400ms ease-in-out;
}

.icons ul li a:hover {
  color: pink;
}

/* Flowers */
.flowers {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  gap: 20px;
  padding: 50px;
  background: #ffdede;
}

.w-flowers,
.bouquet,
.f-flowers {
  text-align: center;
  font-family: 'Great Vibes', cursive;
}

.flowers h2 {
  font-size: 50px;
}

.flowers p {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(84, 90, 4);
}

/* About page */
main {
  background: #dbe1e4;
  padding: 10px 0;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  padding: 20px;
}

.btn {
  background: #f8f4ea;
  padding: 8px 35px;
  margin: 15px 0;
  border: solid #fe6ac1 2px;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
}

.btn:hover {
  background: #fe6ac1;
  color: #fff;
  border: #fff solid 2px;
}

.text {
  margin-top: 160px;
  font-family: 'Great Vibes', cursive;
  margin-left: 40px;
}

.text h1 {
  font-size: 65px;
}
.text p {
  font-size: 25px;
  margin-top: 20px;
  letter-spacing: 1.5px;
}

@media (max-width: 1374px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 632px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .main-content img {
    margin-top: 10px;
    border-radius: 3px;
  }

  .text {
    margin-top: 0px;
  }

  .text h1 {
    font-size: 45px;
  }
}
